.cards {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    transition: ease-out 0.2s;

    padding: 1em 3em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}

.card-title {
    font-size: 1.1em;
    font-weight: 600;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 1em;

    margin-bottom: -.9em;
}

.year-selector {
    width: fit-content;
    margin-left: auto;
}

.custom-button {
    border: none;
    border-radius: .5em;
    height: 2.9em;

    font-size: 13px;
    color: white;
    background-color: #5B6B79;

    cursor: pointer;

    transition: .15s ease-in-out;
}

.custom-button:hover {
    background-color: #6b7d8d;
}

.custom-button:active {
    transform: scale(.97);
}

.custom-border {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
}
